<div class="d-flex flex-column mt-2">
    <h1 class="text-center">Cadastre seu veículo</h1>
    <form action="/carro" method="post" enctype="multipart/form-data" class="d-flex flex-column align-items-center mx-auto mt-2">
        <div class="mb-2">
            <label for="placa" class="form-label">Placa</label>
            <input type="text" name="placa" class="form-control" style="border: solid black 1px;" required> 
        </div>
        <div class="mb-2">
            <label for="modelo" class="form-label">Modelo</label>
            <input type="text" name="modelo" class="form-control" style="border: solid black 1px;" required> 
        </div>
        <div class="mb-2">
            <label for="ano" class="form-label">Ano de fabricação</label>
            <input type="number" name="ano" class="form-control" style="border: solid black 1px;" required> 
        </div>
        <div class="mb-2">
            <label for="fabricante" class="form-label">Fabricante</label>
            <input type="text" name="fabricante" class="form-control" style="border: solid black 1px;" required> 
        </div>
        <div class="mb-2">
            <label for="renavam" class="form-label">Renavam</label>
            <input type="text" name="renavam" class="form-control" style="border: solid black 1px;" required> 
        </div>
        <div class="mb-2">
            <label for="filetoupload" class="form-label">Imagem do veículo</label>
            <input type="file" name="filetoupload" class="form-control" style="border: solid black 1px;" required/>
        </div>
        <button type="submit" class="btn btn-dark">Cadastrar</button> 
    </form>
</div>
<hr>
<div>
    <h1 class="text-center">Veículos cadastrados</h1>
    <div class="d-flex">
        <% carros.forEach((carro) => { %>
            <div class="card ms-5 my-3" style="width: 18rem;">
                <img src="/uploads/<%- carro.foto %>" class="card-img-top" alt="foto">
                <div class="card-body">
                    <h5 class="card-title"><%= carro.modelo %></h5>
                    <p class="card-text">Placa: <%= carro.placa %></p>
                    <p class="card-text">Ano: <%= carro.ano %></p>
                    <p class="card-text">Fabricante: <%= carro.fabricante %></p>
                    <p class="card-text">Renavam: <%= carro.renavam %></p>
                    <div class="d-flex">
                        <a href="/carro/editar/<%= carro.idCarro %>">
                            <i class="bi bi-pencil-square h3 text-black"></i>
                        </a>
                        <form method="POST" action="/carro/deletar" class="me-2">
                            <input type="hidden" name="id" value="<%= carro.idCarro %>"/>
                            <button type="submit" class="btn p-0">
                                <i class="bi bi-trash3 h3 text-danger"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>